body{
  height: 100%;
margin: 0;
text-align: center;
width: 100%;

}
img {
    width: 50%;
    height: auto;
}
.squadclass
{position: relative;
  font-family: "Times New Roman", Times, serif;
   color: blue; font-size: 70%;

 }
 
